.loan-matrics {
  height: 600px;
  margin-bottom: 50px;
  padding: 26.3px 49.1px 49.1px 24.7px;
  border-radius: 8px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
}

.graph-2 {
  margin-top: 78.2px;
}
