.app {
  display: flex;
  position: relative;
}

.left-section-bar {
  width: 76px;
  height: 100vh;
  margin: 0 73.5px 0 0;
  box-shadow: 20px 0 99px 0 rgba(0, 0, 0, 0.15);
  z-index: 100;
  position: sticky;
  top: 0;
}

.right-section-page {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 38px;
  margin-right: 52px;
}
